*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url(thumbnail_IMG_0371\ \(1\).jpg);
    
    
   
  
  }
  #fullscreen {
    z-index: -999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .header{
    min-height: 100vh;
    width: 100%;

  
  
  }
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: green
  }
  nav img{
    width: 150px;
  
  
  }
  .nav-links{
    flex: 1;
    text-align: right;
  
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-si