body{
background-color:yellow;    
}

h1{
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
}


P{
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}

#tekst
{
color: black;
}
