h1{
    font-size: 24px;
    color: red;
    font-weight: bold;
    font-style: italic;
} 
h2{
    font-size: 24px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
#p1{
    color: red;
font-weight: bold;
}
a{
    color: #8a2be2;
    text-decoration: none;
    

}
header{
    background-image: url(img/I23P003FC24.jpg);
    background-repeat: no-repeat;
background-size: 100%;
width: 100vw;
height: 70vh;
font-size: 24px;
color: white;
font-size: italic;
}

p{

    color: red;
    border: 3px solid red;
    border-radius: 25px;
    border-left: solid 10px;
}

