{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 3rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 1.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: black;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
p{
  color: #00a8c7;



}
h1{
  color: blueviolet;
  text-align: center;
  
}
div{
  text-align: center;
}
p{
 text-size-adjust: 80px;
}
body{
background-color: black;
}
title{
font-weight: bold;
}
footer {
  text-align: center;
  background-color: #00a8c7;
  padding: 3px; ;
  height: 100vh;
  color: white;
}
h1{
  text-align: center;

}

nav {
  background-color: #00a8c7;
  position: fixed; 
  top: 0;
  width: 96vw;
}
ul{
  list-style-type: none;
}



 


/ Style the navbar links */
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  ;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}
ADVERTISEMENT

ADVERTISEMENT

ADVERTISEMENT

Step 3 Add JavaScript:
Example
// When the user scrolls down 20px from the top of the document, slide down the navbar
// When the user scrolls to the top of the page, slide up the navbar (50px out of the top view)
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}

ul {
  list-style-type: none;
  overflow: hidden;
}
li {
  float: right;
}
li a { 
  color: white;
  text-decoration: none;
  text-align: center;
padding: 0.8rem 1rem;
display: block;
}

.dropdown-content {
  display: block;
  position: absolute;
  min-width: 2vw;
  z-index: 1;
  overflow: hidden;
}

.dropdown-content {
  color: #e9e9e9;
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;

}

.dropdown:hover .dropdown-content {
  display: block;
}
