body{
    background-color: darkgreen;
}
h1{
    text-align: center;
}
nav {
    display: flex;
    width: 20%;
    height: 200%;
    background: green;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: left;
    list-style-type: none;
  }
  nav li {
    font-size: 2.2rem;
    padding: 0 2rem 0 2rem;
  }
  div{
    float: right;
    clear: right;
  }
  form{
    text-align: center;
  }