body{
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  background-color: darkgreen;
  background-repeat: no-repeat;
}
h1{
  text-align: center;
}
nav {
    display: flex;
    width: 50%;
    height: 200%;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: right;
    list-style-type: none;
  }
  nav li {
    font-size: 2.2rem;
    padding: 0 2rem 0 2rem;
  }
  div{
    float: right;
    clear: right;
  }
  form{
    text-align: center;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }