
body{
  background-size: 100%;
  background-image: url(thumbnail_IMG_0371\ \(1\).jpg);
}
h1{
  text-align: center;
  color: white;
}
ul{
  list-style-type: none;
}
html {
  font-size: 50%;
}
nav {
  display: flex;
  width: 97%;
  padding: 5rem;
  min-height: 13vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  text-align: center;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
color: white;
  font-size: 2.2rem;
  padding: 0 5rem 0 5rem;
}
nav a {
  
    text-decoration: none;
  color: white
  
}
p{
  color: green
}
h1{
  color: black;
  size: 100px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}